/* Estilização da Página */

*{
    margin: 0;
    padding: 0;
}

h1{

    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#usuarios_form{

    display: flex;
    
}